@*
    Created by Aucharla Maneesh - 700731564
*@
@{
    ViewData["Title"] = "Aucharla Version E";
}

@model AucharlaModel
<!DOCTYPE html>
<html>

    <head>
        <title>Aucharla Version E</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h1>Aucharla Area of Circle - Results</h1>

        <p>@Model.CalculateAreaAndCircumference()</p>

    </body>

</html>
